.project-section {
  height: auto;
  color: var(--color-title);
  padding: 6rem 8rem;
  text-align: center;
}

.project-section > h1 {
  font-size: 4rem;
}

.project-section span {
  color: var(--color-primary);
}

.projects-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1060px;
  margin: 48px 0;
  text-align: center;
  gap: 7%;
}

.project-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1060px;
}

.project-image img {
  height: 280px;
  padding: 3px;
  border-radius: 16px;
  box-shadow: 0 3px 10px rgba(220, 220, 220, 0.5);
}

.project-info h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
}

.project-info p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.tech-item {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(45, 212, 191, 0.1);
  padding: 4px 12px;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.button {
  background-image: linear-gradient(
    to right,
    #314755 0%,
    var(--color-primary) 51%,
    #314755 100%
  );
  border-radius: 10px;
  width: 200px;
  color: var(--color-title);
  font-size: 17px;
  transition: all 0.5s;
  cursor: pointer;
  font-family: var(--font-poppins);
  margin: 10px;
  padding: 15px 45px;
  background-size: 200% auto;
}

.button:hover {
  background-position: right center; /* change the direction of the change here */
}

.project-tools {
  display: flex;
  justify-content: space-around;
}

/* For Phones */
@media (max-width: 500px) {
  .project-section {
    margin: 3rem 0;
    padding: 0 !important;
    text-align: center;
  }

  .project-section > h1 {
    font-size: 3rem !important;
  }

  .projects-list {
    flex-direction: column !important;
  }

  .project {
    padding: 0;
    flex-direction: column !important;
  }

  .project-image {
    width: auto;
  }

  .project-image img {
    height: 210px;
  }

  .project h1 {
    font-size: 1.7rem !important;
  }

  .project p {
    font-size: 0.8rem !important;
    padding: 1rem !important;
    text-align: center;
  }

  .tech-stack {
    justify-content: center;
  }

  .tech-item {
    padding: 2px 8px;
    line-height: 1rem;
  }
}
