.about-section {
  height: auto;
  color: var(--color-title);
  padding: 6rem 8rem;
}

.about-section > h1 {
  font-size: 4rem;
}

.about-container {
  display: flex;
  gap: 10%;
  margin: 20px auto;
}

.about-bio {
  font-size: 16px;
}

.about-text {
  margin-bottom: 20px;
}

.headshot {
  width: 350px;
  border-radius: 15px;
}

.skill-summary {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.skill-icon {
  margin: 40px 90px;
  width: 120px;
  min-width: 60px;
}
