.contact-section {
  height: auto;
  text-align: center;
  color: var(--color-title);
  padding: 6rem 6rem;
}

.contact-section > h1 {
  font-size: 4rem;
}

.contact-section span {
  color: var(--color-primary);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input,
textarea {
  font-family: var(--font-poppins);
  border-radius: 4px;
  padding: 12px;
  margin: 8px;
  font-size: 16px;
  width: 600px;
  outline: none;
  resize: none;
}

/* For Phones */
@media (max-width: 500px) {
  .contact-section {
    text-align: center;
    margin: 5rem 0 !important;
    padding: 0 !important;
  }

  .contact-section > h1 {
    font-size: 3rem;
  }

  .contact-form {
    padding: 0 !important;
  }

  .contact-form input,
  textarea {
    font-family: var(--font-poppins);
    border-radius: 4px;
    padding: 12px;
    margin: 8px;
    font-size: 16px;
    width: 100%;
    outline: none;
    resize: none;
  }
}
