.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  z-index: 1;
  font-family: var(--font-poppins);
  color: var(--color-title);
  font-size: 1.25rem;
  padding: 1.5rem 3.5rem;
  transition: 0.4s ease;
  opacity: 0;
  animation: fadeInUp 1s forwards;
}

.scrolled {
  filter: drop-shadow(0 4px 5px #00000060);
  background: #152232;
}

.logo {
  font-size: 30px;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s ease;
  cursor: pointer;
}

.logo:hover {
  color: var(--color-primary);
}

.nav-link {
  display: inline-block;
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 25rem;
}

.nav-links a {
  transition: all 0.3s ease;
}

.navbar ul a:hover {
  color: var(--color-primary);
}

.navbar ul li > .active {
  border-bottom: 2.5px solid white;
  padding-bottom: 3px;
}

.burger-menu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 10px;
}
