.footer-section {
  background: #212121 none repeat scroll 0 0;
  position: relative;
  text-align: center;
  color: var(--color-title);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
